@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: blueviolet;
}
*:hover {
  color: white;
  box-shadow: #8a2be2;
}
